* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: #cad2c5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
    margin-top: 5rem;
    padding: 20px;
    border-radius: 20px;
    background-color: #84a98c;
    gap: 30px;
}

.header-wrapper {
    margin: 15px;
}

.content-wrapper #amount,
#result {
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.content-wrapper #secondCurrencyOption,
#firstCurrencyOption {
    border: none;
    padding: 10px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    #main {
        width: 90%;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
        width: 100%;
    }
}